{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}
    <h1>Add Entry</h1>
    {% if error_message %}
        <h2>{{ error_message }}</h2>
    {% endif %}
    <form action="{% url 'add' %}" method="POST">{% csrf_token %}
        <input type="text" name="title" placeholder="Title">
        <br/>
        <br/>
        <textarea name="content" placeholder="Description"></textarea>
        <br/>
        <br/>
        <input class="btn" type="submit" value="Create Entry">
    </form>

{% endblock %}